<div class="card">
    <div class="card-header">
        Products  <span class="add_button"><button id="add_product_btn" value="create_product" type="button" class="btn add_btn btn-success">Add new<i class="bi bi-plus"></i> </button></span>
    </div>
    <div class="card-body product_list_body">
        <table  class="table">
            <thead>
                <tr>
                    <th title="Internal code">ID </th>
                    <th title="Client code">#Code </th>
                    <th>Image </th>
                    <th>Name </th>
                    <th>Description </th>
                    <th>Brand </th>
                    <th>Category</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Options</th>
                    
                </tr>
            </thead>
            <tbody class="product_table" id="product_table" >
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

