<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold">Welcome to the Admin Dashboard</h1>

        <div class="text-center mb-3 dashboard_icons_wrapper">
            <i class="dashboard_icons bi bi-speedometer2" ></i>
            <i class="dashboard_icons bi bi-box-seam"></i>
            <i class="dashboard_icons bi bi-bar-chart"></i>
        </div>
        <p class="col-md-8 fs-1"></p>
        Hello, team! <br>
        Manage products, orders, and customers efficiently. Use the tools below to keep the store running smoothly
        and ensure a great shopping experience for our users.
        </p>
        <p>Please follow these simple but important rules to keep everything running smoothly:</p>
        <ul class="">
            <li class=" ">If you're unsure about something, always ask your manager before taking action.</li>
            <li class="">Double-check all data before saving, updating, or deleting anything.</li>
            <li class=" ">Never delete important records unless you're absolutely sure. When in doubt, consult first.</li>
            <li class=" ">Keep all product and category information clear, consistent, and updated.</li>
            <li class=" ">Log out when you're done to keep the system secure.</li>
            <li class=" ">Be respectful of shared data — changes affect the entire team.</li>
        </ul>
        
        <a name="admin_to_store_btn" id="admin_to_store_btn" class="btn btn-primary" href="../../app/html/index.html"
            role="button">Go to store. </a>

    </div>
</div>