<div class="card">
    <div class="card-header">
        Clients <span class="add_button"><button id="add_client_btn" value="create_client" type="button"
                class="btn add_btn btn-success">Add new<i class="bi bi-plus"></i> </button></span>
    </div>
    <div class="card-body client_list_body">
        <table class="table">
            <thead>
                <tr>
                    <th>#Client</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>

                </tr>
            </thead>
            <tbody id="clients_table">
            </tbody>
        </table>
    </div>
</div>
