
<div class="card">
    <div class="card-header"> 
        Admins   <span class="add_button"><button id="add_admin_btn" value="create_admin" type="button" class="btn add_btn btn-success">Add new<i class="bi bi-plus"></i> </button></span>
    </div>
    <div class="card-body admin_list_body">
        <table class="table">
            <thead>
                <tr>
                    <th>#Adimn</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Options</th>

                </tr>
            </thead>
            <tbody id="admins_table">
            </tbody>
        </table>
    </div>
</div>