body {
    padding: 0;
    margin: 0;
    font-family: kanit_regular;
    overflow-x: hidden;
    background-color: var(--bone);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: oswald_regular;
    src: url(../../../assets/fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: oswald_bold;
    src: url(../../../assets/fonts/Oswald/Oswald-Bold.ttf);
}

@font-face {
    font-family: oswald_light;
    src: url(../../../assets/fonts/Oswald/Oswald-Light.ttf);
}

@font-face {
    font-family: kanit_regular;
    src: url(../../../assets/fonts/Kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: kanit_light;
    src: url(../../../assets/fonts/Kanit/Kanit-Light.ttf);
}


:root {
    --black: #1b1b1b;
    --green: #19681e;
    --red: #791313;
    --blue: #143b8d;
    --gray: #4b4b4b;
    --gray_light: #c4c4c4;
    --gray_lighter :#dadce2;
    --bone: #f8f8ff;
;
}


main{
    min-height: 120vh;
}
.subtitle {
    font-family: oswald_bold;
}

.hide_ele {
    display: none !important;
}

.show_ele {
    display: block;
}

.category_carrousel{
    margin-top: 2rem;
}
.single_product_wrapper{
    margin-top: 2rem;
    padding: 2rem;
}


.img_container{
    margin: 0 auto;
    width: 80%;
}
.product_info_container{
    margin-top: 2rem ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#product_name  {
    font-family:oswald_light ;
}
#product_price{
    font-family:oswald_bold ;
}
#product_description{
    color: var(--gray);
    margin: 0;
}
#product_code{
    font-weight: bold;
    margin-top: 1rem;
    margin: 0;
}
#product_size_select{
    background-color: transparent;
}
.product_brand{
    width: fit-content;
    margin-top: -1rem;
}

.add_cart_btn{
    background-color: var(--black);
    color: var(--bone);
    width: 70%;
    border-radius: 12px;
    margin: 1rem 15%;
    
}

.add_cart_btn:hover{
    background-color: var(--gray_light);
    color: var(--black);
}

.alert_section{
    background-color: #11111127;
    position: absolute;
    display: grid;
    place-content: center;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
 }
 #action_alert{
    width: 200%;
    margin: auto;
 }